---
layout: default
title: Rize
hero-title: Who We Are
hero-subtitle: This is our story
permalink: /connect/
---

<!-- Hero -->
{% include hero.html
title="Let’s Talk!"
subtitle="If you’re doing good work in your community, we want to hear from you. Let’s explore how we can help you grow your impact through thoughtful digital support."
image="/assets/images/pages/connect/connect.jpg"
%}


<section>
  <div>###</div>
  {% include contact-form.html %}
</section>

<section class="bg-red">
  <div class="container">
    {% include social-links.html %}
  </div>
</section>

<!-- Section - Values -->
<section class="bg-light">
  <div class="container">
    <div class="heading-container">
      <h2>Our Values</h2>
      <!-- <p class="subtitle">We offer support where you need it most—always guided by care, clarity, and community.</p> -->
    </div>
    <div class="bento-container">
      {% include feature.html
      title="Community Rooted"
      description="We don't just work in communities—we work with them. Our approach is grounded in listening, learning, and building relationships. By staying culturally informed and people-centered, we create digital solutions that reflect the strengths, voices, and values of the communities we serve."
      image="/assets/images/pages/connect/community.jpg"
      image_alt="Community Partnerships"
      button_text="Explore Our Services"
      button_url="/services"
      feature_class="reverse bg-dark"
      %}

      {% include feature.html
      title="Empowerment Through Education"
      description="We believe that knowledge should be shared, not gatekept. Whether through workshops, one-on-one support, or clear documentation, we help clients build skills and confidence that last."
      image="/assets/images/pages/connect/education.jpg"
      image_alt="Community Partnerships"
      button_text="Learn More"
      button_url="#"
      feature_class="bg-dark"
      %}

      {% include feature.html
      title="Technology for Good"
      description="We use digital tools to uplift—not extract. Our approach is grounded in digital sovereignty, safe and healthy online spaces, real-world wellbeing, and sustainability to build a better future for communities and the planet."
      image="/assets/images/pages/connect/do-good1.jpg"
      image_alt="Community Partnerships"
      button_text="Learn More"
      button_url="#"
      feature_class="reverse bg-dark"
      %}

      {% include feature.html
      title="Innovation with Intention"
      description="We believe in using the right tools—not just the newest ones. Our choices are driven by your goals, not trends or hype. Whether it's a simple website or a custom solution, we make sure the technology fits your needs and helps you do what you do best."
      image="/assets/images/pages/connect/innovation.jpg"
      image_alt="Community Partnerships"
      button_text="Learn More"
      button_url="#"
      feature_class="bg-dark"
      %}
    </div>
  </div>
</section>

<!-- Section Bio -->
<section class="">
  <div class="container">
    <div class="bento-container">
      {% include feature.html
      title="Your Digital Partner"
      description="Max Harris is the founder of Rize Digital — a web developer, instructor, and community technologist based in Vancouver. With over a decade of experience in the tech industry, Max brings a deep commitment to culturally informed, accessible digital work. His passion lies in supporting nonprofits, entrepreneurs, and community organizations to build confidence with digital tools and create impact that lasts."
      image="/assets/images/pages/connect/max-harris.jpg"
      image_alt="Max Harris, founder of Rize Digital"
      image_class="circle"
      feature_class="bg-dark reverse"
      %}
    </div>
  </div>
</section>
<section class="">
  <div class="bento-container">
    <div class="bento-grid bento-grid--feature  bg-dark">
      <div class="bento-section text-container">
        <h4>Land Acknowledgment</h4>
        <p class="location">
          Based in Vancouver, we serve clients across Canada.
        </p>
        <p>We are grateful to live and work on the unceded territories of the Musqueam, Squamish, and Tsleil-Waututh Nations.</p>
      </div>
      <div class="bento-image-wrapper">
        <img src="/assets/images/pages/home/land.jpg" class="bento-image circle" />
      </div>
    </div>
  </div>
</section>



<!-- CTA Section -->
{% include cta.html
title="Let's start with a conversation"
text="Have a project in mind? Curious how we might work together? Tell us what you're thinking — we'll follow up with next steps, resources, or a consultation."
button_text="Start a Conversation"
link="/connect?type=build"
%}