@use 'variables' as *;

.bg-red {
	background-color: $color-primary;
}

.bg-green {
	background-color: $color-secondary;
}

.bg-dark {
	background-color: $color-black;
	color: $color-white;
}

.bg-light {
	background-color: $color-white;
	color: $color-black;
}
