@use '../global/variables' as *;

main img,
main video {
	filter: grayscale(100%);
}

.image-container {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;

	img {
		// position: absolute;
		object-fit: cover;
	}
}

.icon {
	width: 24px;
	height: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
