@use '../global/variables' as *;

main img {
	filter: grayscale(100%);
}

.image-container {
	position: relative;
	overflow: hidden;

	img {
		position: absolute;
		object-fit: cover;
	}

	> div {
		display: flex;
		flex-flow: column;
		justify-content: center;
		z-index: 10;
	}
}

.icon {
	width: 24px;
	height: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.circle {
	width: 100;
	height: auto;
	border-radius: $border-radius-full;
	overflow: hidden;
}
