@use 'variables' as *;

body {
	background-color: $color-black;
	color: $color-white;
	font-family: $font-family-sans-serif;
}

main {
	h1 {
		font-family: $font-family-display;
		font-weight: $font-weight-black;
		font-size: $font-size-xl;
		line-height: $line-height-sm;
		letter-spacing: $letter-spacing-tight;
		text-transform: uppercase;

		@container (min-width: #{$container-lg}) {
			font-size: $font-size-jumbo;
		}
	}

	h2 {
		font-family: $font-family-display;
		font-weight: $font-weight-black;
		font-size: $font-size-xl;
		line-height: $line-height-xs;
		letter-spacing: $letter-spacing-tight;
		text-transform: uppercase;

		@container (min-width: #{$container-lg}) {
			font-size: $font-size-xxxl;
			letter-spacing: $letter-spacing-loose;
			line-height: $line-height-sm;
		}
	}

	h3 {
		font-family: $font-family-display;
		font-weight: $font-weight-bold;
		font-size: $font-size-sm;
		line-height: $line-height-sm;
		letter-spacing: $letter-spacing-tight;
		text-transform: uppercase;

		@container (min-width: #{$container-lg}) {
			font-size: $font-size-lg;
		}
	}

	h4 {
		font-family: $font-family-display;
		font-weight: $font-weight-black;
		font-size: $font-size-lg;
		line-height: $line-height-sm;
		letter-spacing: $letter-spacing-tight;
		text-transform: uppercase;
		padding: $spacing-lg 0;
	}

	p {
		font-size: $font-size-body;
		font-weight: $font-weight-regular;
		letter-spacing: $letter-spacing-none;

		@container (min-width: #{$container-lg}) {
			font-size: $font-size-md;
			line-height: $line-height-lg;
		}
	}

	a {
		color: $color-primary;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		display: flex;
		flex-flow: column;
		gap: $spacing-lg;
		list-style: none;
		margin: 0;
		padding: 0;

		@container (min-width: #{$container-lg}) {
			flex-flow: row wrap;
			max-width: $container-lg;
		}

		li {
			align-items: center;
			border: 2px solid;
			border-radius: $border-radius-lg;
			display: flex;
			font-size: $font-size-body;
			font-weight: $font-weight-regular;
			letter-spacing: $letter-spacing-none;
			line-height: $line-height-sm;
			margin: 0;
			padding: $spacing-sm $spacing-lg;

			@container (min-width: #{$container-lg}) {
				line-height: $line-height-md;
			}
		}
	}

	ul[class] {
		@container (min-width: #{$container-lg}) {
			padding-bottom: $spacing-xl;
		}
	}

	details {
		summary {
			display: block;
			font-family: $font-family-display;
			font-size: $font-size-lg;
			font-weight: 600;
			line-height: $line-height-md;
			letter-spacing: $letter-spacing-none;
			padding: $spacing-lg 0;
			cursor: pointer;

			svg {
				margin-left: $spacing-sm;
				transform: rotate(0deg);
				transition: transform 0.3s ease;

				&[open] {
					transform: rotate(90deg);
				}

				@container (min-width: #{$container-lg}) {
					display: none;
				}
			}
		}
	}

	address {
		font-style: normal;
	}

	strong {
		font-weight: $font-weight-bold;
	}

	.subtitle {
		font-size: $font-size-body;
		line-height: $line-height-md;
		max-width: $container-sm;

		@container (min-width: #{$container-lg}) {
			font-size: $font-size-lg;
			max-width: $container-md;
			padding-left: $spacing-lg;
			padding-right: $spacing-lg;
		}
	}
}

/* Utility */
.text-centered {
	text-align: center;
}

.heading-container {
	display: flex;
	flex-direction: column;
	gap: $spacing-sm;
	padding: $spacing-md 0 $spacing-lg;

	@container (min-width: #{$container-lg}) {
		align-items: center;
		align-self: center;
		gap: 0;
		max-width: $container-xl;
		padding: $spacing-xl $spacing-xl $spacing-xxxl;
		text-align: center;
	}

	h2 {
		@container (min-width: #{$container-lg}) {
			padding: $spacing-md 0;
		}
	}

	ul {
		li {
			background-color: $color-white;
			border-color: $color-white;
			color: $color-black;
			font-size: $font-size-md;
			padding: $spacing-xl;
		}
	}
}

.bg-light .heading-container {
	ul {
		li {
			background-color: $color-black;
			border-color: $color-black;
			color: $color-white;
		}
	}
}

.heading-container--sm {
	justify-content: center;
	padding: $spacing-md;

	@container (min-width: #{$container-lg}) {
		padding: $spacing-lg 0;
	}
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// padding: 0 $spacing-sm;
	gap: $spacing-sm;

	@container (min-width: #{$breakpoint-lg}) {
		gap: $spacing-lg;
		padding: $spacing-xxxl $spacing-xxl;
	}
}

@container (min-width: #{$container-lg}) {
	main {
		text-align: left;

		.desktop-heading {
			display: block;
		}

		.mobile-heading {
			display: none;
		}
	}
}
