@use 'variables' as *;

body {
	background-color: $color-black;
	color: $color-white;
	font-family: $font-family-sans-serif;
}

main {
	h1 {
		font-family: $font-family-display;
		font-weight: $font-weight-black;
		font-size: $font-size-xl;
		line-height: $line-height-sm;
		letter-spacing: $letter-spacing-tight;
		text-transform: uppercase;

		@container (min-width: #{$container-lg}) {
			font-size: $font-size-jumbo;
		}
	}

	h2 {
		font-family: $font-family-display;
		font-weight: $font-weight-black;
		font-size: $font-size-xl;
		line-height: $line-height-sm;
		letter-spacing: $letter-spacing-none;
		text-transform: uppercase;

		@container (min-width: #{$container-lg}) {
			font-size: $font-size-xxxl;
		}
	}

	h3 {
		font-family: $font-family-display;
		font-weight: $font-weight-black;
		font-size: $font-size-md;
		line-height: $line-height-sm;
		letter-spacing: $letter-spacing-tight;
		text-transform: uppercase;

		@container (min-width: #{$container-lg}) {
			font-size: $font-size-xxl;
		}
	}

	h4 {
		font-family: $font-family-display;
		font-weight: $font-weight-black;
		font-size: $font-size-lg;
		line-height: $line-height-sm;
		letter-spacing: $letter-spacing-tight;
		text-transform: uppercase;
		padding: $spacing-lg 0;
	}

	p {
		font-size: $font-size-body;
		font-weight: $font-weight-light;
		letter-spacing: $letter-spacing-none;

		@container (min-width: #{$container-lg}) {
			font-size: $font-size-md;
			line-height: $line-height-lg;
		}
	}

	a {
		color: $color-primary;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		display: flex;
		flex-flow: column;
		gap: $spacing-md;
		list-style: none;
		padding: 0;
		margin: 0;

		@container (min-width: #{$container-lg}) {
			max-width: $container-lg;
		}

		li {
			border: 2px solid;
			border-radius: $border-radius-xl;
			display: flex;
			font-size: $font-size-body;
			letter-spacing: $letter-spacing-tight;
			line-height: $line-height-md;
			padding: $spacing-sm $spacing-md;
			// text-transform: uppercase;
			font-weight: $font-weight-black;
			// justify-content: center;
			align-items: center;
			// text-align: center;
		}
	}

	li {
		margin: 0;
		padding: 0;
	}

	details {
		summary {
			display: block;
			font-family: $font-family-display;
			font-size: $font-size-lg;
			font-weight: 600;
			line-height: $line-height-md;
			letter-spacing: $letter-spacing-none;
			padding: $spacing-lg 0;
			cursor: pointer;

			svg {
				margin-left: $spacing-sm;
				transform: rotate(0deg);
				transition: transform 0.3s ease;

				&[open] {
					transform: rotate(90deg);
				}

				@container (min-width: #{$container-lg}) {
					display: none;
				}
			}
		}
	}

	address {
		font-style: normal;
	}

	strong {
		font-weight: $font-weight-bold;
	}

	.subtitle {
		font-size: $font-size-body;
		font-weight: $font-weight-light;
		line-height: $line-height-md;

		@container (min-width: #{$container-lg}) {
			font-size: $font-size-lg;
		}
	}
}

/* Utility */
.text-centered {
	text-align: center;
}

.heading-container {
	display: flex;
	flex-direction: column;
	gap: $spacing-sm;
	padding: $spacing-md 0 $spacing-lg;

	@container (min-width: #{$container-lg}) {
		align-items: center;
		align-self: center;
		max-width: $container-lg;
		padding: $spacing-xxl $spacing-xxl;
		text-align: center;
	}

	h3 {
		font-size: $font-size-xl;
		line-height: $line-height-sm;
		letter-spacing: $letter-spacing-tight;
		text-transform: uppercase;
		text-align: center;
		justify-self: center;
	}
}

.heading-container--sm {
	justify-content: center;
	padding: $spacing-md;

	@container (min-width: #{$container-lg}) {
		padding: $spacing-lg 0;
	}
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 $spacing-sm;
	gap: $spacing-sm;

	@container (min-width: #{$breakpoint-lg}) {
		gap: $spacing-lg;
		padding: $spacing-xxxl $spacing-xxl;
	}
}

@container (min-width: #{$container-lg}) {
	main {
		text-align: left;

		.desktop-heading {
			display: block;
		}

		.mobile-heading {
			display: none;
		}
	}
}
