<section class="cta-section">
  <div class="cta-body bento-grid">
    <div class="heading-container">
      <h2>{{ include.title }}</h2>
      <p>{{ include.text }}</p>
      <div class="button-container">
        <a href="{{ include.link }}" class="button">{{ include.button_text }}</a>
      </div>
    </div>
  </div>
  <div class="image-container">
    <video autoplay muted playsinline loop preload="auto">
      <source src="/assets/videos/connect2.mp4" type="video/mp4">
    </video>
    <!-- <img src="/assets/images/placeholder.jpg" alt="Rize Digital" aria-hidden="true" /> -->
  </div>
</section>