<footer>
  <div class="footer-container">
    <div>
      <img src="/assets/images/logo/rize-logo-outlined.svg" alt="Rize Digital logo" class="logo" />
    </div>
    <div>
      <div class="social-media">
        {% include social-links.html class="footer-social" %}
      </div>
    </div>
    <div class="subfooter">
      <div class=land>
        <p>We are grateful to live and work on the unceded territories of the <a href="https://www.musqueam.bc.ca/" target="_blank">Musqueam</a>, <a href="https://www.squamish.net/" target="_blank">Squamish</a>, and <a href="https://twnation.ca/" target="_blank">Tsleil-Waututh</a> Nations.</p>
      </div>
      <span class="">
        &copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.
      </span>
      <p class="text-center">
        <a href="{{ site.url }}/privacy-policy.html">Privacy Policy</a> |
        <a href="{{ site.url }}/terms-of-service.html">Terms of Service</a>
      </p>
    </div>
  </div>
</footer>