<footer>
  <div class="footer-container">
    <div class="social-media">
      {% include social-links.html class="footer-social" %}
    </div>
    <div class="subfooter">
      <span class="text-center">
        &copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.
      </span>
      <p class="text-center">
        <a href="{{ site.url }}/privacy-policy.html">Privacy Policy</a> |
        <a href="{{ site.url }}/terms-of-service.html">Terms of Service</a>
      </p>
    </div>
  </div>
</footer>