<section class="hero">
  <div class="container hero-container">
    <div class="text-container">
      <h1>{{ include.title }}</h1>

      {% if include.subtitle %}
      <p class="subtitle">{{ include.subtitle }}</p>
      {% endif %}

      {% if include.description %}
      <p class="subtitle">{{ include.description }}</p>
      {% endif %}

      {% if include.social_links %}
      <div class="button-wrapper">
        {% include social-links.html %}
      </div>
      {% endif %}

      {% if include.cta_url %}
      <div class="button-container">
        <a href="{{ include.cta_url }}" class="button">{{ include.cta_text }}</a>
      </div>
      {% endif %}
    </div>

    {% if include.image %}
    <div class="image-container">
      <img src="{{ include.image }}" alt="{{ include.title }}">
    </div>
    {% endif %}
  </div>
</section>