<section class="hero">
  <div class="container hero-container">
    <div class="text-container">
      <h1>{{ page.hero-title }}</h1>

      {% if page.hero-subtitle %}
      <p class="subtitle">{{ page.hero-subtitle }}</p>
      {% endif %}

      {% if page.hero-cta-url %}
      <div class="button-wrapper">
        <a href="{{ page.hero-cta-url }}" class="button">{{ page.hero-cta-text }}</a>
      </div>
      {% endif %}
    </div>

    {% if page.hero-image %}
    <div class="image-container">
      <img src="{{ page.hero-image }}" alt="{{ page.title }}">
    </div>
    {% endif %}

  </div>
</section>