@use '../global/variables' as *;

button,
a.button,
.button a {
	border-radius: $border-radius-lg;
	border: 2px solid $color-white;
	color: $color-white;
	cursor: pointer;
	display: flex;
	font-family: $font-family-display;
	font-weight: $font-weight-bold;
	justify-content: center;
	justify-self: center;
	letter-spacing: $letter-spacing-tight;
	line-height: $line-height-md;
	padding: $spacing-sm $spacing-md;
	text-align: center;
	text-transform: uppercase;
	transition: all $transition;

	@container (min-width: #{$container-lg}) {
		align-self: flex-start;
		// font-size: $font-size-md;
		padding: $spacing-base $spacing-xl;
	}

	&:hover {
		background-color: $color-white;
		border-color: $color-white;
		color: $color-black;
		text-decoration: none;
		transform: scale(1.1);
	}

	&.button-alt {
		color: $color-black;
		background-color: $color-white;
		border-color: $color-black;

		&:hover {
			background-color: $color-primary;
			border-color: $color-primary;
			color: $color-white;
		}
	}
}

a.button-primary {
	background-color: $color-white;
	color: $color-secondary;
	border-color: $color-white;

	&:hover {
		background-color: $color-secondary;
		color: $color-white;
	}
}

a.button-secondary {
	background-color: $color-secondary;
	color: $color-white;
	border-color: $color-secondary;

	&:hover {
		background-color: $color-secondary;
		border-color: $color-secondary;
		color: $color-white;
	}

	svg {
		fill: $color-white;
		color: $color-white;
	}
}

.button-container {
	display: flex;
	flex-direction: column;
	padding: $spacing-sm 0 0;

	@container (min-width: #{$container-lg}) {
		flex-direction: row;
		padding: $spacing-md 0 0;
	}
}
