@use '../global/variables' as *;

.cta-section {
	display: grid;
	justify-content: center;
	position: relative;
	padding: $spacing-xxl $spacing-lg;

	@container (min-width: #{$container-lg}) {
		padding: 250px $spacing-lg 0;
	}

	.cta-body {
		background-color: $color-primary;
		border-radius: $border-radius-lg;
		box-shadow: $drop-shadow;
		color: $color-white;
		padding: $spacing-md;
		z-index: 10;

		@container (min-width: #{$container-lg}) {
			max-width: $container-lg;
			padding: $spacing-xl $spacing-xxl;
		}

		.heading-container {
			padding: $spacing-md 0;

			@container (min-width: #{$container-lg}) {
				padding: $spacing-lg;
			}

			h2 {
				// font-size: $font-size-lg;
				padding: 0;
				text-align: center;

				@container (min-width: #{$container-lg}) {
					font-size: $font-size-xxl;
					line-height: $line-height-sm;
				}
			}

			p {
				font-size: $font-size-sm;
				text-align: center;

				@container (min-width: #{$container-lg}) {
					font-size: $font-size-md;
					line-height: $line-height-md;
					padding: 0 $spacing-xxl;
				}
			}
		}
	}

	.image-container {
		height: 70%;
		height: 200px;
		display: flex;
		flex-flow: column;
		justify-content: center;

		@container (min-width: #{$container-lg}) {
			height: 60%;
			min-height: 400px;
		}

		video {
			width: 100%;
		}
	}
}

.cta-content {
	display: flex;
	flex-direction: column;
	border-radius: $border-radius-lg;
	justify-content: center;
	align-items: center;
	background-color: $color-secondary;
	color: $color-white;
	gap: $spacing-lg;
	padding: $spacing-lg;
	text-align: center;
}

.inline-cta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	gap: $spacing-lg;
	margin: 0 auto;
	max-width: $container-lg;
	padding: $spacing-xxl;

	p {
		font-family: $font-family-serif;
		font-style: italic;
	}
}
