@use '../global/variables' as *;

.cta-section {
	background-color: $color-black;
	color: $color-white;
	padding: $spacing-xl $spacing-lg;
	text-align: center;
	display: grid;
	align-items: center;
	justify-content: center;

	.cta-body {
		background-color: $color-primary;
		border-radius: $border-radius-lg;
		padding: $spacing-xl;
		width: fit-content;

		@container (min-width: #{$container-lg}) {
			max-width: 960px;
			padding: $spacing-xxl $spacing-xxxl;
		}

		.cta-image {
			flex: 1 0 auto;
			padding: $spacing-lg;
		}

		.cta-text {
			display: flex;
			flex-flow: column;
			gap: $spacing-lg;

			.heading-wrapper {
				padding: $spacing-md;
				gap: $spacing-md;
			}
		}

		.button-container {
			margin-top: $spacing-xl;

			.button {
				display: inline-block;
			}
		}
	}
}

.cta-content {
	display: flex;
	flex-direction: column;
	border-radius: $border-radius-lg;
	justify-content: center;
	align-items: center;
	background-color: $color-secondary;
	color: $color-white;
	gap: $spacing-lg;
	padding: $spacing-lg;
	text-align: center;
}

.inline-cta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	gap: $spacing-lg;
	margin: 0 auto;
	max-width: 960px;
	padding: $spacing-xxl;

	p {
		font-family: $font-family-serif;
		font-style: italic;
	}

	.button-container {
		.button {
			justify-self: center;
		}
	}
}
