@use '../global/variables' as *;

.hero {
	.hero-container {
		align-items: center;
		background-color: $color-black;
		color: $color-white;
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem;
		max-width: 100%;
		padding-top: 0;
		padding-bottom: 0;

		@container (min-width: #{$breakpoint-lg}) {
			grid-template-columns: 2fr 2fr;
		}

		> div {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;

			&.text-container {
				order: -1;
				padding: $spacing-xxl $spacing-lg;

				@container (min-width: #{$breakpoint-xl}) {
					// max-width: 70%;
					// justify-content: center;
					// align-items: flex-start;
					// padding: 0;
				}
			}

			&.image-container {
				order: 1;
			}
		}
	}
}
