@use '../global/variables' as *;

.hero {
	.hero-container {
		align-items: center;
		background-color: $color-black;
		color: $color-white;
		display: grid;
		grid-template-columns: 1fr;
		max-width: 100%;
		padding: 0;

		@container (min-width: #{$breakpoint-lg}) {
			grid-template-columns: 2fr 2fr;
		}

		.text-container {
			order: -1;
			padding: $spacing-xl;

			@container (min-width: #{$breakpoint-lg}) {
				padding: $spacing-xxxl $spacing-xxl;
			}
		}

		.image-container {
			height: 100%;
			order: 1;

			img {
				height: 100%;
				object-fit: cover;
				filter: grayscale(100%);
			}
		}
	}
}
