// Variables
@use '../global/variables' as *;

.bento-container {
	display: grid;
	gap: $spacing-xl;

	@media (min-width: $breakpoint-lg) {
		gap: $spacing-xxxl;
		padding: 0 $spacing-xxl;
	}
}

.bento-grid {
	display: grid;
	gap: $spacing-lg;
	border-radius: $border-radius-lg;
	overflow: hidden;

	&--one-col {
		grid-template-columns: 1fr;
	}

	&--two-col {
		@media (min-width: $breakpoint-lg) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&--three-col {
		@media (min-width: $breakpoint-lg) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&--feature {
		background-color: $color-black;
		box-shadow: $drop-shadow;
		color: $color-white;

		@media (min-width: $breakpoint-lg) {
			display: grid;
			grid-template-columns: 3fr 2fr;
		}

		.bento-section,
		.bento-image-wrapper {
			@media (min-width: $breakpoint-lg) {
				grid-column: auto;
			}
		}

		.bento-image-wrapper {
			@media (min-width: $breakpoint-lg) {
				order: 2;
			}
		}

		&.reverse {
			.bento-image-wrapper {
				@media (min-width: $breakpoint-lg) {
					order: -1;
				}
			}

			@media (min-width: $breakpoint-lg) {
				grid-template-columns: 2fr 3fr;
			}
		}

		.bento-image-wrapper {
			@media (min-width: $breakpoint-lg) {
				// Always 1/3 width
				// No need for explicit width, grid handles it
			}
		}
	}

	.bento-section {
		border-radius: $border-radius;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		padding: $spacing-sm;
		gap: $spacing-sm;

		@media (min-width: $breakpoint-lg) {
			padding: $spacing-md;
		}

		&.bento-image-wrapper {
			border-radius: 0;

			&.flush {
				padding: 0;

				.bento-image {
					border-radius: 0;
				}
			}
		}
	}

	.bento-image {
		height: 100%;
		width: auto;
		border-radius: $border-radius;
		object-fit: cover;
	}
}

ul.bento-list {
	display: grid;
	gap: $spacing-md;
	padding: 0 $spacing-sm $spacing-xl;

	@media (min-width: $breakpoint-lg) {
		padding: $spacing-md $spacing-lg $spacing-xxl;
	}

	li {
		border: 3px solid;
		border-radius: $border-radius-xl;
		display: flex;
		font-size: $font-size-body;
		letter-spacing: $letter-spacing-loose;
		line-height: $line-height-md;
		padding: $spacing-sm $spacing-md;
		text-transform: uppercase;
		font-weight: $font-weight-black;
		justify-content: center;
		align-items: center;
		text-align: center;

		@media (min-width: $breakpoint-lg) {
			font-size: $font-size-lg;
			padding: $spacing-lg $spacing-xxl;
		}
	}
}

.tile-grid {
	max-width: 1200px;
	text-align: center;

	li.bento-section {
		background-color: $color-black;
		border: 3px solid $color-black;
		box-shadow: $drop-shadow-sm;
		color: $color-white;
		font-size: $font-size-lg;
		font-weight: $font-weight-black;
		justify-content: center;
		text-transform: uppercase;
		padding: $spacing-xl;
	}
}
