// Variables
@use '../global/variables' as *;

.bento-container {
	display: grid;
	gap: $spacing-md;

	@media (min-width: $breakpoint-lg) {
		gap: $spacing-lg;
		padding: 0 $spacing-xxl;
	}
}

.bento-grid,
ul.bento-grid {
	display: grid;
	padding: $spacing-lg 0;
	border-radius: $border-radius-lg;
	overflow: hidden;

	@media (min-width: $breakpoint-lg) {
		// gap: $spacing-lg;
	}

	&--one-col {
		grid-template-columns: 1fr;
	}

	&--two-col {
		@media (min-width: $breakpoint-lg) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&--three-col {
		grid-template-columns: 1fr;
		gap: $spacing-md;

		@media (min-width: $breakpoint-md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: $breakpoint-lg) {
			grid-template-columns: repeat(3, 1fr);
			gap: $spacing-lg;
		}

		.bento-section {
			background-color: $color-black;
			color: $color-white;
			text-align: center;
			padding: $spacing-lg $spacing-md;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: $border-radius-lg;
			min-height: 200px;

			h3 {
				font-size: $font-size-lg;
				font-weight: $font-weight-light;
				line-height: $line-height-sm;
				margin: 0;
			}
		}
	}

	&--feature {
		// background-color: $color-black;
		box-shadow: $drop-shadow;
		color: $color-white;
		// gap: $spacing-lg;

		@media (min-width: $breakpoint-lg) {
			display: grid;
			grid-template-columns: 3fr 2fr;
		}

		.bento-section,
		.bento-image-wrapper {
			@media (min-width: $breakpoint-lg) {
				grid-column: auto;
			}
		}

		.bento-image-wrapper {
			justify-content: center;
			align-items: center;

			@media (min-width: $breakpoint-lg) {
				order: 2;
			}
		}

		.text-container {
			@media (min-width: $breakpoint-lg) {
				max-width: 90%;
			}
		}

		&.reverse {
			.bento-image-wrapper {
				@media (min-width: $breakpoint-lg) {
					order: -1;
				}
			}

			@media (min-width: $breakpoint-lg) {
				grid-template-columns: 2fr 3fr;
			}
		}
	}

	.bento-section {
		// border-radius: $border-radius;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		// padding: $spacing-sm;
		gap: $spacing-sm;

		@media (min-width: $breakpoint-lg) {
			padding: $spacing-md;
		}

		&.bento-image-wrapper {
			border-radius: 0;

			&.flush {
				padding: 0;

				.bento-image {
					border-radius: 0;
				}
			}
		}
	}

	.bento-image {
		height: 100%;
		width: auto;
		border-radius: $border-radius;
		object-fit: cover;

		&.circle {
			border-radius: $border-radius-full;
			overflow: hidden;
			object-fit: cover;
			height: 250px;
			width: 250px;

			@media (min-width: $breakpoint-lg) {
				height: 400px;
				width: 400px;
			}
		}
	}
}

ul.bento-list {
	display: grid;
	gap: $spacing-md;
	padding: 0 $spacing-md $spacing-xxl;

	@media (min-width: $breakpoint-lg) {
		padding: $spacing-md $spacing-lg $spacing-xxl;
	}

	li {
		border: 2px solid;
		border-radius: $border-radius-xl;
		display: flex;
		font-size: $font-size-body;
		letter-spacing: $letter-spacing-tight;
		line-height: $line-height-md;
		padding: $spacing-sm $spacing-md;
		text-transform: uppercase;
		font-weight: $font-weight-black;
		justify-content: center;
		align-items: center;
		text-align: center;

		@media (min-width: $breakpoint-lg) {
			font-size: $font-size-lg;
			padding: $spacing-lg $spacing-xxl;
		}
	}
}

.tile-grid {
	max-width: 1200px;
	text-align: center;

	li.bento-section {
		background-color: $color-black;
		border: 3px solid $color-black;
		box-shadow: $drop-shadow-sm;
		color: $color-white;
		font-size: $font-size-lg;
		font-weight: $font-weight-black;
		justify-content: center;
		text-transform: uppercase;
		padding: $spacing-xl;
	}
}
