// Variables
@use '../global/variables' as *;

$gap: 1rem;
$border-radius: 1rem;
$breakpoint-md: 768px;

.bento-container {
	display: grid;
	gap: $spacing-xl;

	@media (min-width: $breakpoint-md) {
		gap: $spacing-xxxl;
		padding: 0 $spacing-xxl;
	}
}

.bento-grid {
	display: grid;
	gap: $gap;
	border-radius: $border-radius;
	overflow: hidden;

	&--one-col {
		grid-template-columns: 1fr;
	}

	&--two-col {
		@media (min-width: $breakpoint-md) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&--three-col {
		@media (min-width: $breakpoint-md) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&--feature {
		background-color: $color-black;
		box-shadow: $drop-shadow;
		color: $color-white;

		@media (min-width: $breakpoint-md) {
			grid-template-columns: 2fr 2fr;
		}
	}

	.bento-section {
		border-radius: $border-radius;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		padding: $spacing-md;
		gap: $spacing-md;

		@media (min-width: $breakpoint-md) {
			padding: $spacing-xxxl $spacing-xxl;
		}

		&.bento-image-wrapper {
			padding: 0;
			border-radius: 0;

			.bento-image {
				border-radius: 0;
			}
		}
	}

	.bento-image {
		height: 100%;
		width: auto;
		border-radius: $border-radius;
		object-fit: cover;
	}
}

.tile-grid {
	max-width: 1200px;
	text-align: center;

	li.bento-section {
		background-color: $color-black;
		border: 3px solid $color-black;
		box-shadow: $drop-shadow-sm;
		color: $color-white;
		font-size: $font-size-lg;
		font-weight: $font-weight-black;
		justify-content: center;
		text-transform: uppercase;
		padding: $spacing-xl;
	}
}
