@use '../global/variables' as *;

footer {
	background-color: $color-black;
	color: $color-white;
	position: relative;
	font-size: $font-size-sm;

	a {
		color: $color-white;
	}

	.footer-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $spacing-md;
		gap: $spacing-lg;

		@container (min-width: #{$container-lg}) {
			// flex-flow: row wrap;
			// justify-content: space-between;
			gap: $spacing-xxl;
			padding: $spacing-xxl $spacing-lg $spacing-lg;
		}

		> div {
			display: flex;
			gap: $spacing-md;
			flex-flow: column;
			text-align: center;

			@container (min-width: #{$container-lg}) {
				flex-flow: row;
			}
		}

		.footer-logo {
			fill: $color-white;
		}

		@container (min-width: #{$container-lg}) {
			.footer-mobile-nav {
				display: none;
			}
		}

		.footer-subnav-column-container {
			display: none;

			@container (min-width: #{$container-lg}) {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				justify-content: space-between;
				gap: $spacing-lg;
			}

			.footer-subnav-column {
				display: flex;
				flex-direction: column;

				.footer-subnav {
					ul {
						flex-direction: column;
						gap: $spacing-md;

						li {
							a {
								display: flex;
								align-items: center;
								font-weight: 400;
							}
						}
					}
				}
			}
		}

		.subfooter {
			align-items: center;
			font-size: $font-size-xs;
			justify-content: space-between;

			@container (min-width: #{$container-lg}) {
				align-items: flex-end;
			}
		}

		.logo {
			height: 100px;
		}
	}
}
