@use '../global/variables' as *;

body {
	container-type: inline-size;
}

header {
	position: fixed;
	background-color: $color-white;
	box-shadow: $drop-shadow-sm;
	height: $header-height;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1000;

	@container (min-width: #{$container-lg}) {
		height: $header-height-lg;
	}

	.header-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: $spacing-sm;
		gap: $spacing-sm;

		@container (min-width: #{$container-lg}) {
			padding: $spacing-md $spacing-xl;
		}

		.logo {
			height: 3.25rem;
			flex: 0 0 auto;
			display: none;

			img {
				height: 100%;
			}

			@container (min-width: #{$container-lg}) {
				display: block;
			}
		}

		.logo-mobile {
			@container (min-width: #{$container-lg}) {
				display: none;
			}

			img {
				height: 30px;
				margin-top: 5px;
			}
		}

		nav {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			flex: 1 1 auto;

			@container (min-width: #{$container-lg}) {
				justify-content: flex-end;
			}

			.nav-links {
				display: flex;
				gap: $spacing-md;

				@container (min-width: #{$container-lg}) {
					flex-direction: row;
					gap: $spacing-xl;
				}

				a {
					color: $color-black;
					font-family: $font-family-display;
					font-size: $font-size-sm;
					font-weight: $font-weight-regular;
					text-decoration: none;
					text-transform: uppercase;

					@container (min-width: #{$container-lg}) {
						letter-spacing: $letter-spacing-tight;
					}

					&:hover {
						color: $color-primary-bright;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.hamburger-menu {
	background: none;
	border: none;
	box-shadow: none;
	cursor: pointer;
	width: 32px;
	height: 18px;
	position: relative;
	padding: 0;
	z-index: 1100;

	span {
		display: block;
		width: 100%;
		height: 3px;
		background-color: $color-secondary;
		margin-bottom: 5px;
		transition: transform 0.3s ease, opacity 0.3s ease;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.active {
		background-color: transparent;

		span:nth-child(1) {
			transform: translateY(10px) rotate(45deg);
		}

		span:nth-child(2) {
			opacity: 0;
		}

		span:nth-child(3) {
			transform: translateY(-10px) rotate(-45deg);
		}
	}

	@media (min-width: #{$container-lg}) {
		display: none;
	}
}
