@use '../global/variables' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1 0 auto;
	margin-top: $header-height;

	@container (min-width: #{$container-lg}) {
		margin-top: $header-height-lg;
	}
}

.container {
	display: flex;
	margin: 0 auto;
	padding: $spacing-lg $spacing-md;
	width: 100%;

	@container (min-width: #{$container-lg}) {
		flex-direction: row;
		padding: $spacing-xxxl $spacing-xl;
	}

	&.column {
		@container (min-width: #{$container-lg}) {
			flex-direction: column;
		}
	}
}

.container-full-width {
	display: flex;
	flex-flow: column;
	padding: $spacing-xxl 0;

	> div {
		flex: 1 1 50%;
	}

	@container (min-width: #{$container-lg}) {
		flex-flow: row;
	}
}

section {
	position: relative;

	.section-background-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

hr {
	border: none;
	height: 1px;
	background-color: $border-color;
	margin: $spacing-lg 0;
}

/* Utility */
.desktop {
	display: none;

	@container (min-width: #{$container-lg}) {
		display: block;
	}
}

.mobile {
	display: block;

	@container (min-width: #{$container-lg}) {
		display: none;
	}
}

.column {
	flex-flow: column;
	align-items: center;
}

.section-centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
